# Configuration files (user-editable)
_config.js
config.js

# coverage
coverage/

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.local

# Misc files
.DS_Store
.todo.md
.vscode/settings.json

# notes
devNotes.md
