# Configuration files (user-editable)
_config.js

# coverage
coverage/
reports/

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.local

# Misc files
.DS_Store
.todo.md
.vscode/settings.json
.serena/

# notes
devNotes.md

# stryker temp files
.stryker-tmp
